/.ipynb_checkpoints
/.swagger-codegen
/.swagger-codegen-ignore
/Catastro
/IGRPOB_CCA_BALE_ETRS89_100_20200922_2019b.zip
/Planos_Cuartel.qgz
/Planos_cuartel.gpkg
/Qgis_Accidentes
/Tiempo
/Untitled.ipynb
/accidentes.csv
/accidentes.py
/amigo.py
/correos.txt
/qgis2web_2021_10_05-18_41_16_486616
/untitled